<h1>Welcome to our Rock Paper Scissors game</h1>
<p>
  The rules of the game are as follows:
  Rock beats Scissors, Scissors beats Paper and Paper beats Rock.
  </p>

<p>
  <ul>
    <li><a href="/rock">Rock</a></li>
    <li><a href="/scissors">Scissors</a></li>
    <li><a href="/paper">Paper</a></li>
    </ul>
  </p>
