<p>
  Select second throw:
  </p>
<p>
  <ul>
    <li><a href="/paper/rock">Rock</a></li>
    <li><a href="/paper/scissors">Scissors</a></li>
    <li><a href="/paper/paper">Paper</a></li>
    </ul>
  </p>
