<div class="paper-bg">
  <h2>
    Select second throw:
  </h2>
  <p>
    <ul class="select">
      <li><a href="/paper/rock">Rock</a></li>
      <li><a href="/paper/paper">Paper</a></li>
      <li><a href="/paper/scissors">Scissors</a></li>
    </ul>
  </p>
</div>
