<p>
  Select second throw:
  </p>
<p>
  <ul>
    <li><a href="/rock/rock">Rock</a></li>
    <li><a href="/rock/scissors">Scissors</a></li>
    <li><a href="/rock/paper">Paper</a></li>
    </ul>
  </p>
