<div class="rock-bg">
  <h2>
    Select second throw:
  </h2>
  <p>
    <ul class="select">
      <li><a href="/rock/rock">Rock</a></li>
      <li><a href="/rock/paper">Paper</a></li>
      <li><a href="/rock/scissors">Scissors</a></li>
    </ul>
  </p>
</div>
