<div class="scissors-bg">
  <h3>
    Select second throw:
  </h3>
  <p>
    <ul class="select">
      <li><a href="/scissors/rock">Rock</a></li>
      <li><a href="/scissors/paper">Paper</a></li>
      <li><a href="/scissors/scissors">Scissors</a></li>
    </ul>
  </p>
</div>
