.rock-bg {
  background: url("images/Rock_img.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.paper-bg {
  background-image: url("images/Paper_img.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.scissors-bg {
  background-image: url("images/Scissor_img.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: right center;
  background-repeat: no-repeat;
  z-index: -2;
}

.select {
  font-size: 20px;
  z-index: -1;
  width: 200px;
}

.winner {
  background-image: url("images/Award_img.jpeg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

body {
  background-color: lightyellow;
}

ul.navbar {
  font-size: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navlist {
  float: left;
  display: inline;
}

a.navlink {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  font-size: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: lightblue;
}
